@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family: Rajdhani, sans-serif;
    background-color: black;
    color: white;
    font-weight: 500;
}