@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


:root {
    --bg-color-1--: #ffffff;
    --bg-color-2--: #000000;
}

main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: Rajdhani, sans-serif;
    min-height: 90vh;
}

main .banner {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

main .banner .banner-img {
    width: 100vw;
    filter: brightness(66%);
}

main .banner .banner-head {
    font-size: 7vw;
    color: var(--bg-color-1--);
    position: absolute;
    font-weight: 600;
    top: 29%;
    right: 68%;
}

main .banner .banner-para {
    font-size: 3vw;
    color: var(--bg-color-1--);
    position: absolute;
    text-align: center;
    font-weight: 500;
    top: 45%;
    right: 61%;
}

/* Section 1 */
.sec-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-1 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color-1--);
    width: 98vw;
    margin: 20px;
}

.sec-1 .container .header {
    margin: 15px 25px 7px 25px;
    font-size: 200%;
}

.sec-1 .container .categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 25px;
    width: 94vw;
    gap: 25px;

}

.sec-1 .container .categories .category {
    display: flex;
    width: 32%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec-1 .container .categories .category .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color-1--);
    filter: brightness(0.97);
    width: 100%;
    margin: 10px;
    transition: filter 0.3s;
}

.sec-1 .container .categories .category .img:hover {
    filter: brightness(0.7);
}

.sec-1 .container .categories .category .name {
    position: absolute;
    font-size: 200%;
    color: var(--bg-color-1--);
    text-align: center;
    line-height: 47px;
}

.sec-1 .container .categories .category .name .btn-browse {
    display: none;
    width: 100%;
    background-color: var(--bg-color-1--);
    color: var(--bg-color-2--);
    text-decoration: none;
    font-size: 70%;
    font-weight: 600;
    line-height: 38px;
    transition-property: all;
    transition-duration: 1s;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

.sec-1 .container .categories .category .name:hover+.name .btn-browse {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    display: inline-block;
}

.sec-1 .container .categories .category .img:hover+.name .btn-browse {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    display: inline-block;
}

.sec-1 .container .categories .category .name .btn-browse:hover {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    display: inline-block;
}

.sec-1 .container .categories .category .name:hover+.btn-browse {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
    display: inline-block;
}



/* Section 2 */
.sec-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-2 .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color-1--);
    border-radius: 20px;
    width: 98vw;
    margin: 20px;
    position: relative;
}

.sec-2 .category .category-name {
    margin: 1rem 3rem 0.6rem 3rem;
    font-size: 200%;
}

.sec-2 .category .products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    margin: 1rem 3rem;
    gap: 1.5rem;
}

.sec-2 .category .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 18%;
    flex-wrap: nowrap;
    overflow: hidden;
    flex: 0 0 auto;
    position: relative;
    transform: translateX(0%);
    transition: transform ease-in-out 0.3s;
}
/* 
.sec-2 .category .slide-right {
} */

.sec-2 .category .product .prod-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sec-2 .category .product .quick-view {
    width: 100%;
    height: 12%;
    text-decoration: none;
    color: var(--bg-color-1--);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    padding-top: 80%;
    opacity: 0;
    transition: opacity ease-in 0.3s;
}

.sec-2 .category .product .quick-view .qv-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-2--);
    color: var(--bg-color-1--);
    font-weight: 500;
    border-radius: 0 0 10px 10px;
}

.sec-2 .category .product .quick-view:hover {
    opacity: 1;
}

.sec-2 .category .product .prod-desc {
    text-align: start;
}

.sec-2 .category .product .prod-desc .prod-name {
    font-size: 120%;
    padding: 15px 0 0 0;
    min-height: 50px;
}

.sec-2 .category .product .prod-desc .prod-price {
    font-size: 100%;
    padding: 10px 0 0 0;
}

.sec-2 .category .product .add-to-cart {
    margin: 15px auto 20px auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3%;
}

.sec-2 .category .product .add-to-cart .btn-add-to-cart {
    width: 99%;
    height: 3vw;
    background-color: var(--bg-color-1--);
    border: 1px solid var(--bg-color-2--);
    color: var(--bg-color-2--);
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    transition: all ease-out 0.3s;
    font-size: 0.9em;
}

.sec-2 .category .product .add-to-cart .btn-add-to-cart-minus {
    width: 35%;
    height: 3vw;
    background-color: var(--bg-color-1--);
    border: 1px solid var(--bg-color-2--);
    color: var(--bg-color-2--);
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    transition: all ease-out 0.3s;
    font-size: 99%;
}

.sec-2 .category .product .add-to-cart .btn-add-to-cart-plus {
    width: 35%;
    height: 3vw;
    background-color: var(--bg-color-1--);
    border: 1px solid var(--bg-color-2--);
    color: var(--bg-color-2--);
    font-family: Rajdhani, sans-serif;
    font-weight: 600;
    transition: all ease-out 0.3s;
    font-size: 99%;
}

.sec-2 .category .product .add-to-cart .val {
    width: 20%;
    text-align: center;
}

.sec-2 .category .product .add-to-cart .btn-add-to-cart:hover {
    background-color: var(--bg-color-2--);
    color: var(--bg-color-1--);
}

.sec-2 .category .product .add-to-cart .btn-add-to-cart-minus:hover,
.sec-2 .category .product .add-to-cart .btn-add-to-cart-plus:hover {
    background-color: var(--bg-color-2--);
    color: var(--bg-color-1--);
}


/* Arrows */
.sec-2 .category .category_arrows {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 45%;
}

.sec-2 .category .category_arrows .category_arrows-prev,
.sec-2 .category .category_arrows .category_arrows-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5%;
    height: 4rem;
    border-radius: 1.2rem;
    transition: all ease-out 0.3s;
    opacity: 0.2;
}

.sec-2 .category .category_arrows .category_arrows-prev{
    margin-left: 0.1%;
}

.sec-2 .category .category_arrows .category_arrows-next{
    margin-right: 0.1%;
}


.sec-2 .category .category_arrows .category_arrows-prev:hover,
.sec-2 .category .category_arrows .category_arrows-next:hover {
    opacity: 0.7;
}

.sec-2 .category .category_arrows .category_arrows-prev--img,
.sec-2 .category .category_arrows .category_arrows-next--img {
    width: 100%;
}

main .carousel .arrow {
    width: 7vw;
    position: absolute;
    padding: 5vh 0 5vh 0;
    opacity: 0.1;
}

main .carousel .arrow:hover {
    opacity: 0.5;
}


main .carousel .right-arrow {
    top: 124px;
    left: 90vw;
    padding: 231px 0 231px 3px;
}

main .carousel .left-arrow {
    top: 124px;
    right: 90vw;
    padding: 231px 3px 231px 0;
}


/* Media Queries */
