:root {
    --bg-color-1--: #ffffff;
    --bg-color-2--: #000000;
}


main {
    display: flex;
    justify-content: center;
    font-family: Rajdhani, sans-serif;
    min-height: 90vh;
    background-color: var(--bg-color-1--);
}

main .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
    margin: 20px;
    /* border-radius: 20px; */
}

main .cart .no-items {
    font-size: 140%;
    font-weight: 500;
}

main .cart .head {
    font-size: 2.8em;
    font-weight: 700;
    margin: 2%;
}

main .cart .table {
    display: grid;
    /* background-color: rgb(238, 236, 236); */
    width: 92%;
    margin: 1% 0;
}

main .cart .table .table-label {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    /* background-color: rgb(232, 232, 232); */
    border: 2px solid lightgray;
}

main .cart .table .table-label .label-items {
    padding: 1.2rem;
    font-size: 1.1rem;
}

main .cart .table .table-label .label-qty {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    font-size: 1.1rem;
}

main .cart .table .table-label .label-price {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    font-size: 1.1rem;
}


main .cart .table .table-body {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    font-size: 1.1rem;
    font-weight: 500;
}

main .cart .table .table-body .body-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 3%;
    border-bottom: 1px solid lightgray;
}

main .cart .table .table-body .body-item .img {
    width: 15%;
}

main .cart .table .table-body .body-qty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 7%;
    border-bottom: 1px solid lightgray;
}

main .cart .table .table-body .body-qty .btn {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: #747272;
    border: 1px solid var(--bg-color-2--);
    background-color: var(--bg-color-1--);
    transition-duration: 0.3s;
}

main .cart .table .table-body .body-qty .btn:hover {
    color: rgb(237, 234, 234);
    background-color: var(--bg-color-2--);
}

main .cart .table .table-body .body-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

main .cart .table .table-foot {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border-bottom: 2px solid lightgray;
}

main .cart .table .table-foot .foot-total {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    font-size: 1.3rem;
    grid-column: 2;
}

main .cart .table .table-foot .foot-price {
    display: flex;
    justify-content: center;
    padding: 1.2rem;
    font-size: 1.3rem;
    grid-column: 3;
}

main .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 3vw;
    margin: 4%;
}

main .btns .btn {
    width: 45%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-2--);
    border: 1px solid var(--bg-color-1--);
    color: var(--bg-color-1--);
    font-family: Rajdhani, sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: all ease-out 0.3s;
    font-size: 1.08em;
}

main .btns .btn:hover {
    background-color: var(--bg-color-1--);
    border: 1px solid var(--bg-color-2--);
    color: var(--bg-color-2--);
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}