@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --bg-color-1--: #ffffff;
    --bg-color-2--: #000000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  /* -webkit-box-shadow: 0 0 0px 1000px #fff inset; */
  transition: white 5000s ease-in-out 0s;
  background-color: white;
}

.message {
    width: 100%;
    font-weight: 500;
    color: red;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    height: 78px;
    font-family: Rajdhani, sans-serif;
}

header .logo {
    margin: 0 3%;
    display: flex;
    font-size: 3em;
}

header .logo a {
    text-decoration: none;
    color: var(--bg-color-2--);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Rajdhani, sans-serif;
    margin: 1.8rem 0.8rem;
}

main .info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .info .head {
    margin: 0;
    padding: 0;
    font-size: 2.6rem;
    font-weight: 600;
}

main .info .body {
    font-size: 1.3rem;
}

main .info .sign-up{
    width: 95%;
    padding: 2%;
    margin-top: 10%;
    background-color: var(--bg-color-1--);
    border: 1px solid var(--bg-color-2--);
    color: var(--bg-color-2--);
    font-family: Rajdhani, sans-serif;
    font-weight: 500;
    transition: all ease-out 0.3s;
    font-size: 1.2em;
}

main .info .sign-up:hover {
    background-color: var(--bg-color-2--);
    border: 1px solid var(--bg-color-1--);
    color: var(--bg-color-1--);
}

main .account-form {
    width: 45%;
    height: 48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-1--);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 4%;
}

main .account-form .head {
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
}

main .account-form .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
    gap: 1rem;
}

main .account-form .form input{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid black;
    padding: 3% 4%;
    width: 92%;
    height: 100%;
    /* font-size: 103%; */
}

main .account-form .form input:focus{
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-color: white;
    border-bottom: 2px solid black;
}

main .account-form .form input:focus::before{
    content: "Email";
}

main .account-form .form .forgot-pwd{
    text-decoration: none;
    font-weight: 600;
}


main .account-form .form .sign-in{
    width: 99%;
    padding: 2%;
    margin-top: 10%;
    background-color: var(--bg-color-1--);
    border: 1px solid var(--bg-color-2--);
    color: var(--bg-color-2--);
    font-family: Rajdhani, sans-serif;
    font-weight: 500;
    transition: all ease-out 0.3s;
    font-size: 1.2em;
}

main .account-form .form .sign-in:hover{
    background-color: var(--bg-color-2--);
    border: 1px solid var(--bg-color-1--);
    color: var(--bg-color-1--);
}

main .account-form .form .sign-in-g{
    width: 99%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-1--);
    border: 1px solid var(--bg-color-2--);
    color: var(--bg-color-2--);
    font-family: Rajdhani, sans-serif;
    font-weight: 500;
    transition: all ease-out 0.3s;
    font-size: 1.2em;
    gap: 2%;
}

main .account-form .form .sign-in-g:hover{
    background-color: #cf5955;
    border: 1px solid var(--bg-color-1--);
    color: var(--bg-color-1--);
}


main .account-form .form .sign-in-g img{
    transition: all ease-out 0.3s;
    width: 7%;
}

main .account-form .form .sign-in-g:hover img{
    filter: brightness(4);
}

main .account-form .form .sign-in-g  p {
    margin: 0;
}

main .account-form .form .sec {
    font-family: sans-serif;
    margin: 100px auto;
    color: black;
    text-align: center;
    font-size: 1em;
    max-width: 600px;
    position: relative;
    width: 100%; 
    margin: 10px 0 10px
}


main .account-form .form .sec:before {
    content: "";
    display: block;
    width: 45%;
    height: 1px;
    background: black;
    left: 0;
    top: 50%;
    position: absolute;
}

main .account-form .form .sec:after {
    content: "";
    display: block;
    width: 45%;
    height: 1px;
    background: #191970;
    right: 0;
    top: 50%;
    position: absolute;
}

