:root {
    --bg-color-1--: #ffffff;
    --bg-color-2--: #000000;
    --bg-color-3--: #f0efef;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rajdhani, sans-serif;
    flex-direction: column;
}

.success::before {
    content: "\2713";
    position: absolute;
    z-index: 2;
    background-color: var(--bg-color-2--);
    width: 3.3rem;
    height: 3.3rem;
    font-size: 2.4rem;
    border-radius: 1.6rem;
}

main hr {
    width: 90%;
    margin: 6px 0;
    border: 0.001rem solid rgb(231, 231, 231);
}

main .order {
    margin: 2%;
    width: 96%;
    background-color: var(--bg-color-1--);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.4rem;
}

main .order > .head {
    margin: 3%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .order .head h5 {
    font-size: 2rem;
}

main .order .head .dates {
    width: 160%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

main .order .head .dates .order-date {
   border-right: 1px solid gray;
   padding-right: 2%;
   font-weight: 600;
}

main .order .head .dates .est-delivery{
   padding-left: 2%;
   font-weight: 600;
}
 
main .order .head .progress-bar {
    margin-top: 1%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    /* gap: 2%; */
}

main .order .head .progress-bar .second .step-number::after {
    position: absolute;
    content: "";
    width: 23rem;
    height: 0.4rem;
    background-color: var(--bg-color-2--);
    top: 47%;
}

main .order .head .progress-bar .fourth .step-number::after {
    position: absolute;
    content: "";
    width: 23rem;
    height: 0.4rem;
    background-color: var(--bg-color-2--);
    top: 47%;
}

main .order .head .progress-bar .steps {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
}

main .order .head .progress-bar .steps .step-number {
    width: 3.3rem;
    height: 3.3rem;
    font-size: 2.4rem;
    border-radius: 1.6rem;
    font-weight: 600;
    background-color: var(--bg-color-2--);
    color: var(--bg-color-1--);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    align-self: center;
    justify-self: center;
}

main .order .head .progress-bar .steps .step-number .number {
    z-index: 1;
}

main .order .head .progress-bar .steps .step {
    margin-top: 3%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    align-self: center;
    justify-self: center;
}

main .error {
    height: 80vh;
    justify-content: flex-start;
}

main .error p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

main .error .error-img {
    margin: 4rem;
    width: 50%;
    opacity: 0.05;
}

main .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}

main .items .product {
    margin: 0.5%;
    width: 70%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
}

main .items .product .image {
    width: 80%;
    border-radius: 8%;
}

main .items .product .name {
    font-weight: 600;
    font-size: 1.2rem;
}

main .items .product .details .price {
    font-weight: 700;
    font-size: 1.2rem;
}

main .items .product .details .qty{
    width: 75%;
    border-radius: 8%;
}

main .info {
    display: grid;
    gap: 4%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2%;
}

main .info .delivery {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

main .info .delivery .head {
    font-size: 1.2rem;
}

main .info .delivery .details {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

main .info .order-details {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

main .info .order-details .head {
    font-size: 1.2rem;
}

main .info .order-details .details {
    display: grid;
    grid-template-columns: 5fr 1fr;
    font-weight: 500;
}

main .info .order-details .details hr {
    width: 100%;
}

main .info .order-details .details .total {
    font-size: 1.2rem;
    font-weight: 600;
}

main .info .order-details .details .total-amount {
    font-weight: 700;
}

main .info .payment {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
}

main .info .payment .head {
    font-size: 1.2rem;
}

main .info .details {
    font-weight: 500;
}

