@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --bg-color-1--: #ffffff;
    --bg-color-2--: #000000;
}

main {
    display: flex;
    justify-content: center;
    font-family: Rajdhani, sans-serif;
    height: 85vh;
    width: 100%;
}

main .profile {
    background-color: var(--bg-color-1--);
    width: 100%;
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.profile_images {
    margin: 3%;
}

.profile_img {
    border: 5px solid black;
    width: 90%;
}

.profile_info {
    font-size: 2rem;
    margin: 3%;
    font-weight: 600;
}
