<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main-account.css' %}">
    <title>Account | YoreFit</title>
</head>
<body>
    <header>
        <h5 class="logo"><a href="{% url 'StoreHome' %}">YOREFIT</a></h5>
    </header>
    <main>
        {% if Signup %}
        <section class="account-form">
            <h2 class="head">Sign Up</h2>
            <form class="form" method='post'>
                {% csrf_token %}
                {% for message in messages %}
                <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{message}}
                </p>
                {% endfor %}
                <input type="hidden" name="signup">
                <input name="first-name" id="first-name" type="text" placeholder="First Name" required>
                <input name="last-name" id="last-name" type="text" placeholder="Last Name" required> 
                <input name="email" id="email" type="email" placeholder="Email" required>
                <input name="pwd" id="pwd" type="password" placeholder="Password" required>
                <input name="c-pwd" id="c-pwd" type="password" placeholder="Confirm Password" required>
                <button class="sign-in" type="submit">Create account</button>
                <p class="sec">or</p>
                <button class="sign-in-g" type="submit">
                    <img src="{% static 'images/google-logo.png' %}" alt="">
                    <p>Sign up with Google</p>
                </button>
            </form>
        </section>
        <section class="info">
            <h4 class="head">Already a member?</h4>
            <p class="body">Welcome back! We're so glad to see you back here again</p>
            <button onclick="logIn()" class="sign-up">
                Login
            </button>
        </section>
        {% else %}
        <section class="account-form">
            <h2 class="head">Login</h2>
            <form class="form" method='post'>
                {% csrf_token %}
                {% for message in messages %}
                <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{message}}
                </p>
                {% endfor %}
                <input type="hidden" name="login">
                <input name="email" id="email" type="email" placeholder="Email" required>
                <input name="pwd" id="pwd" type="password" placeholder="Password" required>
                <a class="forgot-pwd" href="">Forgot password?</a>
                <button class="sign-in" type="submit">Sign in</button>
                <p class="sec">or</p>
                <button class="sign-in-g" type="submit">
                    <img src="{% static 'images/google-logo.png' %}" alt="">
                    <p>Sign in with Google</p>
                </button>
            </form>
        </section>
        <section class="info">
            <h4 class="head">New here?</h4>
            <p class="body">Sign up to track orders, shop faster, save products and get easier returns on all the products. Plus a range of other exclusive benefits!</p>
            <button onclick="signUp()" class="sign-up">
                Sign Up
            </button>
        </section>
        {% endif %}
    </main>
</body>
<script>

function signUp(){
    let login = document.querySelector('.account-form');
    let newUser = document.querySelector('.info');
    let loginChildren = login.children;
    let newUserChildren = newUser.children;
    loginChildren[0].innerHTML = 'Sign Up';            
    loginChildren[1].innerHTML = `{% csrf_token %}
                                {% for message in messages %}
                                <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                                    {{message}}
                                </p>
                                {% endfor %}
                                <input type="hidden" name="signup">
                                <input name="first-name" id="first-name" type="text" placeholder="First Name" required>
                                <input name="last-name" id="last-name" type="text" placeholder="Last Name" required> 
                                <input name="email" id="email" type="email" placeholder="Email" required>
                                <input name="pwd" id="pwd" type="password" placeholder="Password" required>
                                <input name="c-pwd" id="c-pwd" type="password" placeholder="Confirm Password" required>
                                <button class="sign-in" type="submit">Create account</button>
                                <p class="sec">or</p>
                                <button class="sign-in-g" type="submit">
                                    <img src="{% static 'images/google-logo.png' %}" alt="">
                                    <p>Sign up with Google</p>
                                </button>`;
    newUserChildren[0].innerHTML = 'Already a member?';
    newUserChildren[1].innerHTML = 'Welcome back! We\'re so glad to see you back here again';
    newUserChildren[2].innerHTML = 'Login';
    newUserChildren[2].onclick = function() {logIn()};
}

function logIn(){
    let login = document.querySelector('.account-form');
    let newUser = document.querySelector('.info');
    let loginChildren = login.children;
    let newUserChildren = newUser.children;
    loginChildren[0].innerHTML = 'Login';
    loginChildren[1].innerHTML = `{% csrf_token %}
                                {% for message in messages %}
                                <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                                    {{message}}
                                </p>
                                {% endfor %}
                                <input type="hidden" name="login">
                                <input name="email" id="email" type="email" placeholder="Email" required>
                                <input name="pwd" id="pwd" type="password" placeholder="Password" required>
                                <a class="forgot-pwd" href="">Forgot password?</a>
                                <button class="sign-in" type="submit">Sign in</button>
                                <p class="sec">or</p>
                                <button class="sign-in-g" type="submit">
                                    <img src="{% static 'images/google-logo.png' %}" alt="">
                                    <p>Sign in with Google</p>
                                </button>`;
    newUserChildren[0].innerHTML = 'New here?';
    newUserChildren[1].innerHTML = 'Sign up to track orders, shop faster, save products and get easier returns on all the products. Plus a range of other exclusive benefits!';
    newUserChildren[2].innerHTML = 'Sign Up';
    newUserChildren[2].onclick = function() {signUp()};
}

</script>
</html>