<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block link %}{% endblock link %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <nav>
            <div class="navbar-top">
                <h5 class="logo"><a href="{% url 'StoreHome' %}">YOREFIT</a></h5>
                <form method="get" action="{% url 'StoreSearch' %}" class="search">
                    <input class="search-input" type="search" name="search" id="search">
                    <button class="search-btn" type="submit"><img class="search-img"
                            src="{% static 'images/search-icon.png' %}" alt="Search"></button>
                </form>
                
                <div class="container">
                    <a href="{% url 'StoreCart' %}"><button class="cart-btn">
                        <img class="cart-img" id="cart" src="{% static 'images/cart-icon.png' %}" alt="Cart">
                        <p class="cart-badge" id="cart-badge">0</p>
                    </button></a>
                    <a href="{% url 'StoreAccount' %}"><button class="profile-btn">
                        <img class="profile-img " id="profile" src="{% static 'images/user-icon.png' %}" alt="Account"></a>
                    </button>
                    <a href="{% url 'StoreTracker' %}"><button class="tracker-btn">
                        <img class="tracker-img" id="tracker" src="{% static 'images/tracker-icon.png' %}"
                            alt="Tracker"></a>
                    </button>
                </div>
            </div>
        </nav>
        {% block header %}{% endblock header %}
    </header>

    <main>{% block main %}{% endblock main %}</main>

    <footer>
        {% block footer %}{% endblock footer %}
        <p>&copy; 2022 | YoreFit Limited | All rights reserved</p>
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
if (localStorage.getItem('cart') != null){
    var cart = JSON.parse(localStorage.getItem('cart'));
}
var noOfItems = 0;
    for (var item in cart){
        if (cart[item][0] > 0) {
        noOfItems += cart[item][0];
        } else {
            delete cart[item];
        }
    }
    document.getElementById('cart-badge').innerHTML = noOfItems;
</script>

{% block js %}{% endblock js %}

</html>