{% extends 'basic.html' %}
{% load static %}

{% block title %}Your Shopping Cart | Yorefit{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/main-cart.css' %}">{% endblock link %}

{% block main %}
<div id="cart-table" class="cart">
</div>
{% endblock main %}

{% block js %}
<script>

if (localStorage.getItem('cart') != null){
    var cart = JSON.parse(localStorage.getItem('cart'));

    let totalPrice = 0;
    let totalItems = 0;

    if (JSON.stringify(cart) !== '{}') {
        
        let cartBody = `<h3 class="head">Shopping Cart</h3>
                        <div id="table" class="table">
                            <span class="table-label">
                                <h6 class="label-items">ITEMS</h6>
                                <h6 class="label-qty">QUANTITY</h6>
                                <h6 class="label-price">SUBTOTAL</h6>
                            </span>
                            <span id="table-body" class="table-body">
                            </span>
                            <span id="table-foot" class="table-foot">
                            </span>
                        </div>
                        <div id="table-btns" class="btns">
                            <a href="{% url 'StoreCheckout' %}" class="checkout btn">Checkout</a>
                            <a href="/" class="cont-shop btn">Continue Shopping</a>
                        </div>`
        document.getElementById('cart-table').innerHTML = cartBody;
        for (item in cart) {
            if (cart[item][0] > 0) {
                let qty = cart[item][0];
                let name = cart[item][1];
                let img = cart[item][2];
                let price = cart[item][3];
    
                subTotalPrice = qty * price;
                totalPrice += subTotalPrice;
                let tableBody = `<div class='body-item'>
                                    <img id='img-${item}' class='img' src='${img}'>
                                    <p id='name-${item}' class='name'>${name}</p>
                                </div>
                                <div class='body-qty'>
                                    <button id='minus-${item}' class='btn add-to-cart-minus'> - </button>
                                    <p class='val' id='val-${item}'>${qty}</p>
                                    <button id='plus-${item}' class='btn add-to-cart-plus'> + </button>
                                </div>
                                <p id='subtotalprice-${item}' class='body-price'>$${subTotalPrice}</p>`;
                $('#table-body').append(tableBody);
            } else {
                delete cart[item];
            }
            document.getElementById('table-foot').innerHTML = `<h6 class="foot-total">TOTAL</h6><h6 class="foot-price">$${totalPrice}</h6>`;
        }
    } else {
        let cartBody = `<h3 class="head">Shopping Cart</h3>
                        <p class="no-items">There are currently no items in your cart!</p>
                        <div id="table-btns" class="btns center">
                            <a href="/" class="cont-shop btn">Continue Shopping</a>
                        </div>`;
        document.getElementById('cart-table').innerHTML = cartBody;
    }   


    var noOfItems = 0;
        for (var item in cart){
            if (cart[item][0] > 0) {
            noOfItems += cart[item][0];
            } else {
                delete cart[item];
            }
        }
        document.getElementById('cart-badge').innerHTML = noOfItems;

    $('.body-qty').on('click', '.add-to-cart-minus', function(){
        var id = this.id.slice(6,);
        cart[id][0] = Math.max(0, cart[id][0] - 1);
        document.getElementById('val-'+id).innerHTML = cart[id][0];

        if (cart[id][0] == 0){
            delete cart[id];
        }

        document.getElementById('cart-badge').innerHTML = noOfItems;
        localStorage.setItem('cart', JSON.stringify(cart));
        window.location.reload();
    });

    $('.body-qty').on('click', '.add-to-cart-plus', function(){
        var id = this.id.slice(5,);
        cart[id][0]++;
        
        document.getElementById('val-'+id).innerHTML = cart[id][0];

        document.getElementById('cart-badge').innerHTML = noOfItems;
        localStorage.setItem('cart', JSON.stringify(cart));
        window.location.reload();
    });

} else {
    let cartBody = `<h3 class="head">Shopping Cart</h3>
                        <p class="no-items">There are currently no items in your cart!</p>
                        <div id="table-btns" class="btns center">
                            <a href="/" class="cont-shop btn">Continue Shopping</a>
                        </div>`;
    document.getElementById('cart-table').innerHTML = cartBody;
}

</script>
{% endblock js %}
