<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | Yorefit</title>
    <link rel="stylesheet" href="{% static 'css/main-checkout.css' %}">

</head>

<body>
    <header>
        <h5 class="logo">YOREFIT</h5>
    </header>
    {% if success == 'true' %}
    <div class="typewrite">
        <h5 class="thank-head">Tracker</h5>
        <h6 class="thank-body" id="demo"></h6>
        <h6 class="thank-body "><a href="{% url 'StoreTracker' %}">Track My Order</a></h6>
    </div>
    {% else %}
    <main>
        <form method="post">
            <section class="info">
                <h5 class="head">Delivery Address</h5>
                <div class="form-info">
                    {% csrf_token %}
                    <input type="hidden" name="json-products" id="json-products">
                    <input required class="" name="f-name" id="f-name" type="text" placeholder="First Name">
                    <input required class="" name="l-name" id="l-name" type="text" placeholder="Last Name">
                    <input required class="" name="address" id="address" type="text" placeholder="Address">
                    <input required class="" name="city" id="city" type="text" placeholder="City">
                    <input required class="" name="country" id="country" type="text" placeholder="Country">
                    <input required class="" name="zip-postalcode" id="zip-postalcode" type="text" placeholder="ZIP/Postal Code">
                    <input required class="" name="contact" id="contact" type="tel" placeholder="Contact">
                    <input required class="" name="email" id="email" type="email" placeholder="Email">
                </div>
            </section>
            <section class="info">
                <h5 class="head">Delivery Options</h5>
                <div class="form-opt">
                    {% csrf_token %}
                    <span class="opts opt-1">
                        <input required type="radio" name="dlvry" id="std" value="std">
                        <label for="std">Standard Delivery</label>
                        <p>Free</p>
                    </span>
                    <span class="opts opt-2">
                        <input required type="radio" name="dlvry" id="ovn-std" value="ovn-std">
                        <label for="ovn-std">Standard Overnight Delivery</label>
                        <p>$10</p>
                    </span>
                    <span class="opts opt-3">
                        <input required type="radio" name="dlvry" id="ovn" value="ovn">
                        <label for="ovn">Overnight Delivery</label>
                        <p>$50</p>
                    </span>
                </div>
            </section>
            <section class="info">
                <h5 class="head">Payment Method</h5>
                <div class="form-pymnt">
                    {% csrf_token %}
                    <span class="method-1">
                        <input required type="radio" name="pymnt" id="cod" value="cod">
                        <label for="cod">Cash On Delivery (COD)</label>
                    </span>
                    <span class="method-2">
                        <input required type="radio" name="pymnt" id="credit" value="credit">
                        <label for="credit">Debit / Credit Card</label>
                    </span>
                </div>
            </section>
            <section class="submit">
                <button class="btn-submit" type="submit">Checkout</button>
            </section>
        </form>
        <section class="products">
            <div class="head">
                <h6 class="label">Products</h6>
                <h6 class="label">Items: <span id="items">0</span></h6>
            </div>
        </section>
    </main>
    {% endif %}

</body>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

    if ({{success}}){
        delete localStorage['cart'];
    } else {        
        if (localStorage.getItem('cart') != null) {
            let cart = JSON.parse(localStorage.getItem('cart'));
            let noItems = document.getElementById('items');
            let total = document.getElementById('total-price');
            let totalPrice = 0;
            let items = 0;

            for (let item in cart) {
                items++;
                let qty = cart[item][0];
                let name = cart[item][1];
                let img = cart[item][2];
                let price = cart[item][3];

                totalPrice += price * qty;

                let product = `<div class="product">
                                    <div class='img'>
                                        <img id='img-${item}' class='img' src='${img}'>
                                    </div>
                                    <div class='info'>
                                        <p id='name-${item}' class='name text'>${name}</p>
                                        <p class='qty text' id='qty-${item}'>Qty: ${qty}</p>
                                        <p id='price-${item}' class='price text'>$${price}</p>
                                    </div>
                                </div>`;

                $('.products').append(product);

            }
            
            document.getElementById('json-products').value = JSON.stringify(cart);;
            console.log(JSON.stringify(cart));
            let price = `<div class="foot">
                            <h6 class="total">Total: <span id="total-price">${totalPrice}</span></h6>
                        </div>`;

            $('.products').append(price);
            noItems.innerHTML = items;

        }        
    }

    var i = 0;
    var txt = 'Click here to track your order';
    var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    console.log(document.getElementById("demo"));
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
    typeWriter()
</script>

</html>