{% extends 'basic.html' %}

{% load static %}
{% load extras %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/main-product.css' %}">
{% endblock link %}

{% block title %}Yorefit | Ultra-light Gym Tee{% endblock title %}

{% block main %}

<div class="product">
    <div class="info" id="smthin">
        <div class="prod-imgs">
            <img id="c-img" class="c-img" src="{{product.img.url}}">
            <div class="all-imgs">
                <img class="imgs" onclick="setImage('{{product.img.url}}')" src="{{product.img.url}}">
                {% for prodimg in product.productimage_set.all %}
                <img onclick="setImage('{{prodimg.image.url}}')" class="imgs" src="{{prodimg.image.url}}">
                {% endfor %}
            </div>
        </div>
        <div class="prod-desc">
            <div class="stars">
                {% for rating in ratings %}
                <img src="{% if rating == 2 %}{% static 'images/full-star-icon.png' %}{% elif rating == 1 %}{% static 'images/half-star-icon.png' %}{% elif rating == 0 %}{% static 'images/star-icon.png' %}{% endif %}" alt="">
                {% endfor %}
                <p class="n-reviews">({{no_reviews}})</p>
            </div>
            <div class="title">
                <h4 class="product-name">{{product.name}}</h4>
            </div>
            <div class="info">
                <div class="fit">
                    <p>{{product.fit_type}}</p>
                </div>
                <div class="brand">
                    <p>{{product.company}}</p>
                </div>
            </div>
            <div class="price">
                <h6>$<span class="product-price">{{product.price}}</span></h6>
            </div>
            <hr>
            <div class="color">
                <p id="color-name" class="color-name"><strong>Color:</strong></p>
                <div class="btns">
                    {% with product.colors|split:"," as colors %}
                    {% for color in colors %}
                    {% with color|split:":" as colour %}
                    <button id="color-{{forloop.counter}}" onclick="setColor('{{colour.1}}', this.id, {{colors}})" class="colors" style="background-color: {{colour.0}};"></button>
                    {% endwith %}
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
            <div class="size">
                <p id="size-name" class="size-name"><strong>Size:</strong></p>
                <div class="sizes">
                    {% with product.sizes|split:" " as sizes %}
                        {% for size in sizes %}
                            <button id="size-{{forloop.counter}}" onclick="setSize('{{size}}', this.id, {{sizes}})" class="xs">{{size}}</button>
                        {% endfor %}
                    {% endwith %} 
                </div>
            </div>
            <div class="desc">
                <h6>Features:</h6>
                <p>{{product.features}}</p>
            </div>
            <div class="btns">
                <div class="quantity">
                    <button id="dlt-{{product.id}}" class="dlt-item">-</button>
                    <p class="qty">1</p>
                    <button id="add-{{product.id}}" class="add-item">+</button>
                </div>
                <div class="add-to-cart" id="div-atc-{{product.id}}">
                    <button id="atc-{{product.id}}" class="btn-add-to-cart">
                        Add To Cart
                    </button>
                </div>
                <div class="buy-now">
                    <a href="{% url 'StoreCheckout' %}" class="btn-buy-now">BUY NOW</a>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div class="suggestions">
        
    </div> {% endcomment %}

    
    <div class="review-box">
        <h6 class="review-head">Ratings & Reviews</h6>
        <div class="ratings-reviews">
            <section class="ratings">
                <h1 class="ovr-rating">{{stars}}</h1>
                <div class="stars">
                    {% for rating in ratings %}
                    <img src="{% if rating == 2 %}{% static 'images/full-star-icon.png' %}{% elif rating == 1 %}{% static 'images/half-star-icon.png' %}{% elif rating == 0 %}{% static 'images/star-icon.png' %}{% endif %}" alt="">
                    {% endfor %}
                </div>
                <p class="no-ratings">{{no_reviews}} Review(s)</p>
            </section>

            <section class="reviews">
                {% for review in reviews %}
                <div class="review">
                    <div class="stars">
                        {% for star in review.stars|range %}
                        <img src="{% static 'images/full-star-icon.png' %}" alt="">
                        {% endfor %}
                        {% for star in review.stars|invrange:5 %}
                        <img src="{% static 'images/star-icon.png' %}" alt="">
                        {% endfor %}
                    </div>
                    <h2 class="title">{{review.title}}</h2>
                    <p class="name-time">{{review.user.first_name}} {{review.user.last_name}} on {{review.time}}</p>
                    <p class="comment">{{review.comment}}</p>
                </div>
                {% empty %}
                <h5 class="no-reviews">No Reviews Currently</h5>
                {% endfor %}
            </section>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="user-reviews">    
        <div class="head">
            <h6 class="title">Leave a review!</h6>
            <p class="body">Your reviews help us impove the quality of our products. Your satisfaction is our first priority!</p>
        </div>
        <div class="user-review">
            <form  method='post' class="review">
                {% csrf_token %}
                <input id="inp-stars" type="hidden" name="stars">
                <div id="user-stars" class="stars">
                    <span class="btn-stars" onclick="addStars(1)">
                        <img src="{% static 'images/star-icon.png' %}" alt="">
                    </span>
                    <span class="btn-stars" onclick="addStars(2)">
                        <img src="{% static 'images/star-icon.png' %}" alt="">
                    </span>
                    <span class="btn-stars" onclick="addStars(3)">
                        <img src="{% static 'images/star-icon.png' %}" alt="">
                    </span>
                    <span class="btn-stars" onclick="addStars(4)">
                        <img src="{% static 'images/star-icon.png' %}" alt="">
                    </span>
                    <span class="btn-stars" onclick="addStars(5)">
                        <img src="{% static 'images/star-icon.png' %}" alt="">
                    </span>
                </div>
                <input type="text" name="title" class="review-title" placeholder="Review title">
                <textarea class="comment" name="comment" id="comment" cols="30" rows="10" placeholder="Describe your experience (optional)"></textarea>
                <button type="submit" class="btn-submit-review">Submit Review</button>
            </form>
        </div>
    </div>
    {% endif %}  

</div>

{% endblock main %}

{% block js %}
<script>

    let productColor = document.querySelectorAll('.colors');

    function setColor (color, id, items) {
        document.getElementById('color-name').innerHTML = "<strong>Color:</strong> " +  color;
        for (let i=1; i <= items.length; i++){
            document.getElementById('color-' + i).classList.remove('s-color');
        }
        document.getElementById(id).classList.add('s-color');
    }

    function setSize (size, id, items) {
        document.getElementById('size-name').innerHTML = "<strong>Size:</strong> " +  size;
        for (let i=1; i <= items.length; i++){
            document.getElementById('size-' + i).classList.remove('s-size');
        }
        document.getElementById(id).classList.add('s-size');
    }

    function setImage (image) {
        document.getElementById('c-img').src = image;
    }



    if (localStorage.getItem('cart') == null){
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }
    
    $('.add-to-cart').on('click', '.btn-add-to-cart', function(){
        var idStr = this.id.toString();
        var qty = parseInt(document.querySelector('.qty').innerHTML);
        if (cart[idStr] != undefined) {
            name = document.querySelector('.product-name').innerHTML;
            price = document.querySelector('.product-price').innerHTML;
            img = document.querySelector('.c-img').src;
            qtyN = cart[idStr][0] + qty;
            cart[idStr] = [qtyN, name, img, parseInt(price)];
        } else {
            name = document.querySelector('.product-name').innerHTML;
            price = document.querySelector('.product-price').innerHTML;
            img = document.querySelector('.c-img').src;
            cart[idStr] = [qty, name, img, parseInt(price)];
        }
        updateCart(cart);
    });
    
    function updateCart(cart){
        var noOfItems = 0;
        for (var item in cart){
            if (cart[item][0] > 0) {
                noOfItems += cart[item][0];
            } else {
                delete cart[item];
            }
        }
        document.getElementById('cart-badge').innerHTML = noOfItems;
        localStorage.setItem('cart', JSON.stringify(cart));
    }

    function addStars(star){
        document.getElementById('inp-stars').value = star;
        let stars = document.getElementById('user-stars').children;
        for (let i=0; i<5; i++){
            stars[i].children[0].src = "{% static 'images/star-icon.png' %}";
        }
        for (let i=0; i<star; i++){
            stars[i].children[0].src = "{% static 'images/full-star-icon.png' %}";
        }
    }
    
    $('.quantity').on('click', '.dlt-item', function(){
        var id = this.id.slice(4,);
        document.querySelector('.qty').innerHTML = Math.max(1, parseInt(document.querySelector('.qty').innerHTML) - 1);
    });
    
    $('.quantity').on('click', '.add-item', function(){
        var id = this.id.slice(4,);
        document.querySelector('.qty').innerHTML = parseInt(document.querySelector('.qty').innerHTML) + 1;
    });
    
</script>
{% endblock js %}