{% extends 'basic.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock link %}

{% block title %}Yorefit | For all your fitness needs{% endblock title %}

{% block main %}
<div class="container">
    <div class="banner">
        <img src="{% static 'images/banner-img.jpg' %}" alt="Banner" class="banner-img">
        <h4 class="banner-head">YOREFIT</h4>
        <p class="banner-para">For all of your fitness needs.<br>We got you covered!</p>
    </div>

    <section class="sec-1">
        <div class="container">
            <!-- <h3 class="header">Browse top categories</h3> -->
            <div class="categories">
                <div class="category">
                    <img class="img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="Gym Tees">
                    <h3 class="name">Gym Tees<br><a href="" class="btn-browse">Browse</a></h3>
                </div>
                <div class="category">
                    <img class="img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="Gym Tees">
                    <h3 class="name">Gym Tees<br><a href="" class="btn-browse">Browse</a></h3>
                </div>
                <div class="category">
                    <img class="img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="Gym Tees">
                    <h3 class="name">Gym Tees<br><a href="" class="btn-browse">Browse</a></h3>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-2">
        <div class="category">
            <h3 class="category-name">Gym Tees</h3>
            <div class="products">
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="category">
            <h3 class="category-name">Gym Tees</h3>
            <div class="products">
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="category">
            <h3 class="category-name">Gym Tees</h3>
            <div class="products">
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
                <div class="product">
                    <img class="prod-img" src="https://i.insider.com/5e8b325129d6d939f8576bc3" alt="">
                    <div class="quick-view">
                        <a class="qv-link" href="product/">QUICK VIEW</a>
                    </div>
                    <div class="prod-desc">
                        <h4 class="prod-name">Ultra-light Gym Tee</h4>
                        <p class="prod-price"><strong>$499</strong></p>
                    </div>
                    <div class="add-to-cart">
                        <button class="btn-add-to-cart">
                            Add To Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
{% endblock main %}