{% extends 'basic.html' %}
{% load static %}
{% load extras %}


{% block title %}Track your orders | Yorefit{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/main-tracker.css' %}">
{% endblock link %}


{% block main %}

{% if orders %}

    {% for order_s in orders %}

        {% for order, update in order_s.0|zip:order_s.1 %}
                <section class="order">
                    <div class="head">
                        <h5>Tracker ID: <span class="tracker-id">{{order.order_id}}</span></h5>
                        <span class="dates">
                            <p class="order-date">Order date: <span>{{order.time}}</span></p>
                            <p class="est-delivery">Estimated delivery: <span>Within 12 Days</span></p>
                        </span>
                        <div class="progress-bar">
                            <div class="first steps">
                                <p class="step-number step-1 {% if update|returnVal:"progress" >= 1 %}success{% endif %}"><span class="number">1</span></p>
                                <p class="step">Order Placed</p>
                            </div>
                            <div class="second steps">
                                <p class="step-number step-2 {% if update|returnVal:"progress" >= 2 %}success{% endif %}"><span class="number">2</span></p>
                                <p class="step">Shipped to warehouse</p>
                            </div>
                            <div class="third steps">
                                <p class="step-number step-3 {% if update|returnVal:"progress" >= 3 %}success{% endif %}"><span class="number">3</span></p>
                                <p class="step">Packaging completed</p>
                            </div>
                            <div class="fourth steps">
                                <p class="step-number step-4 {% if update|returnVal:"progress" >= 4 %}success{% endif %}"><span class="number">4</span></p>
                                <p class="step">Arrived to your country</p>
                            </div>
                            <div class="fifth steps">
                                <p class="step-number step-5 {% if update|returnVal:"progress" == 5 %}success{% endif %}"><span class="number">5</span></p>
                                <p class="step">Delivered!</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="items" id="items-{{forloop.parentloop.counter}}">
                        <p class="json" id="json-{{forloop.parentloop.counter}}" style="display:none;">{{order.json_field}}</p>
                    </div>
                    <hr>
                    <div class="info">
                        <div class="delivery">
                            <h5 class="head">Delivery</h5>
                            <div class="details">
                                <p class="address">
                                    {{order.address}}, {{order.city}}, {{order.country}}
                                </p>
                                <p class="type">
                                    {% if order.delivery == 'std' %}Standard Delivery{% endif %}
                                    {% if order.delivery == 'ovn-std' %}Standard Overnight Delivery{% endif %}
                                    {% if order.delivery == 'ovn' %}Overnight Delivery{% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="order-details">
                            <h5 class="head">Order Details</h5>
                            <div class="details">
                                <p class="subtotal">Subtotal</p><p id="subtotal-amount-{{forloop.parentloop.counter}}" class="subtotal-amount"></p>
                                <p class="delivery">Delivery</p><p id="delivery-amount-{{forloop.parentloop.counter}}" class="delivery-amount">
                                    {% if order.delivery == 'std' %}0{% endif %}
                                    {% if order.delivery == 'ovn-std' %}10{% endif %}
                                    {% if order.delivery == 'ovn' %}50{% endif %}
                                </p>
                                <hr id="hr-1"><hr id="hr-2">
                                <p class="total">Total</p><p id="total-amount-{{forloop.parentloop.counter}}" class="total-amount"></p>
                            </div>
                        </div>
                        <div class="payment">
                            <h5 class="head">Payment</h5>
                            <div class="details">
                                <p class="method">
                                    {% if order.payment == 'cod' %}Cash On Delivery{% endif %}
                                    {% if order.payment == 'credit' %}Credit/Debit Card{% endif %}
                                </p>
                                <p class="detail"></p>
                            </div>
                        </div>
                    </div>
                </section>
        {% endfor %}
    {% endfor %}

{% else %}

<section class="order error">
    <div class="head">
        <h5>Your orders</h5>
        <p>{{error}}</p>
        <img class="error-img" src="{% static 'images/tracker-icon.png' %}" alt="">
    </div>
</section>

{% endif %}

{% endblock main %}


{% block js %}

<script>

    var jsonItems = document.getElementsByClassName('json');
    var subTotalAmount = document.getElementsByClassName('subtotal-amount');
    var deliveryAmount = document.getElementsByClassName('delivery-amount');
    var totalAmount = document.getElementsByClassName('total-amount');
    let i = 1;
    
    for (let jsonItem in jsonItems){
        var cart = JSON.parse(document.getElementById('json-'+i).innerHTML);
        var subTotal = 0;
        for (let item in cart){
            let qty = cart[item][0];
            let name = cart[item][1];
            let img = cart[item][2];
            let price = cart[item][3];

            subTotal += price * qty;

            let product = `<div class="product">
                                <img class="image" src="${img}">
                                <p id="name" class="name">${name}</p>
                                <span class="details">
                                    <p class="price">$${price}</p>
                                    <p class="qty">Qty: ${qty}</p>
                                </span>
                            </div>`;
            $(`#items-${i}`).append(product);
            
        }
        document.getElementById('subtotal-amount-'+i).innerHTML = `$${subTotal}`;
        var total = parseInt(document.getElementById('delivery-amount-'+i).innerHTML) + subTotal
        document.getElementById('total-amount-'+i).innerHTML = `$${total}`;
        
        i += 1;
    }



</script>

{% endblock js %}
